<div class="container">
  <h1>Bingo</h1>
  <div class="actions">
    <button (click)="newGame()">New Game</button>
    <button (click)="next()">Next Number</button>
  </div>

  <table>
  <tr><th>B</th><th>I</th><th>N</th><th>G</th><th>O</th></tr>
  <tr *ngFor="let i of range(15)">
    <td *ngFor="let offset of range(5)" [class.called]="board[i+offset*15]" (click)="sound.play(i+offset*15+1)"><span *ngIf="board[i + offset * 15]">{{ i + offset * 15 + 1 }}</span></td>
  </tr>
  </table>

  <div class="number-summary">
    <div *ngIf="called.length > 0">
      <h2>Numbers Called:</h2>
      <span *ngFor="let ball of called;index as i;count as c;"
      (click)="sound.play(ball)">
      {{ball}}
        <span *ngIf="i < c-1">,</span>
      </span>
    </div>
    <span *ngIf="called.length == 0">No numbers called. Click the "Next Number" button to start a game.</span>
  </div>
</div>
